<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69349650564-nlk8rskksa7il5sr2b2imbp8uqugnbim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69349650564-nlk8rskksa7il5sr2b2imbp8uqugnbim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69349650564-ruliv6l1pnjdp9lknopj540a0tm0j9qm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArzo-NhBbssba9cqeqj7HeD45oxMmD0uc</string>
	<key>GCM_SENDER_ID</key>
	<string>69349650564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.defray.sovryn</string>
	<key>PROJECT_ID</key>
	<string>sovryn-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>sovryn-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69349650564:ios:f3074ed1c42d79f6e112d1</string>
</dict>
</plist>